.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: auto 5% auto 5%;
}

body {
  background-color: #140f07;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #08ecff;
}
p {
  font-size: 2rem;
  color: #08ecff;
  font-family: 'Indie Flower', cursive;
}
#ref{
  padding-bottom:5% ;
}
img {
  width: 80%;
}

footer {
  margin-top: 12%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.contai{
  justify-content: center;
  text-align: center;
  margin: 6% auto;
}
.btn{
  background-color: #079fff;
}